:root {
  --header-back-color: #091034;
  --header-text-color: #E4F132;
  --body-back-color: #36448B;
  --section-back-color: #f2ead9;
  --section-text-color: #091034;
  --section-hover: #DFE48F;
}

* {
  max-width: 800px;
  margin: auto;
}

.headerfooter {
  background-color: var(--header-back-color);
  height: 45px;
  width: 100%;
  color: var(--header-text-color);
}

.header {
  margin: 0 10 0 10;
  float: right;
}

.footer {
  margin: 0 10 0 10;
  padding-top: 12px;
  float: right;
}

h1,
h2 {
  font-family: Quicksand, Roboto, Arial, Helvetica, sans-serif;
  padding: 0 5 5 5;
}

h3,
h4,
p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 0 5 5 5;
}

a {
  color: var(--header-text-color);
}

.container {
  background-color: var(--body-back-color);
}

.spacer {
  height: 10px;
}

.section {
  margin: 10 15 0 15;
  border-radius: 5px;
  background-color: var(--section-back-color);
  color: var(--section-text-color);
}

.collapsible {
  background-color: var(--section-back-color);
  color: var(--section-text-color);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 5 5 5 5;
}

.normalsection {
  background-color: var(--section-back-color);
  color: var(--section-text-color);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 5 5 5 5;
}

.collapsible:hover {
  background-color: var(--section-hover);
}

.collapsible:after {
  content: "more...";
  color: var(--section-text-color);
  font-size: 14px;
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px;
}

.active:after {
  content: "less...";
}

.content {
  padding: 0 18px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--section-back-color);
  border-radius: 5px;
}

.fullcontent {
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
  background-color: var(--section-back-color);
  border-radius: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 33%;
  padding: 5px;
}


